<div class="container">
  <br />
  <div class="card">
    <div class="card-header text-white bg-secondary">
      Déclarer un problème
    </div>
    <div class="card-body">
      <p class="card-text">Veuillez renseigner les zones suivantes et soumettre votre demande.</p>
      <div class="card-text">
        <form class="form-horizontal" 
          novalidate 
          [formGroup]="problemeForm"
        >
          <input class="form-control" 
            id="prenomId" 
            type="text" 
            placeholder="Votre prénom ici (obligatoire)" 
            formControlName="prenom"
            [ngClass]="{'is-valid': (problemeForm.get('prenom').touched ||
            problemeForm.get('prenom').dirty) &&
            (problemeForm.get('prenom').valid),
            'is-invalid': (problemeForm.get('prenom').touched ||
            problemeForm.get('prenom').dirty) &&
            (!problemeForm.get('prenom').valid )}"
          />
        </form>
      </div> 
    </div>
  </div>
</div>